<link rel='stylesheet' href='/stylesheets/profile.css'>
<div class="page-bg"></div>
<div class="form-group">
    <img src="{{avatar}}" class="col-md-4" id="avatar">
    <div class="col-md-4">
        <label>Никнейм: <span>{{nick}}</span></label>
        <br>
        <label>Уровень: <span>{{level}}</span></label>
        <br>
        <br>
        <label>Игра выйграно (быстрая игра): <span>{{gamesWon}}</span></label>
    </div>
</div>